@import url('https://fonts.googleapis.com/css?family=Lato');

#font {
    font-family: 'Lato', sans-serif;

}

.font {
    font-family: 'Lato', sans-serif;
}

#span1 {
    color: #6C6262;
    font-weight: bolder;
    font-size: 1.35em;

}

#title{
    color: #0099e1
}

#span2 {
    color: #146bc1;
    margin: 0 0 0 -1vh;
    font-size: 1.35em;
}

#image {
    text-align: center;
}

#logo {
    position: relative;
    width: 50%;
}

#submit {
    margin: 1vh !important;
}

#camera {
    font-size: 32px;
}

#sidebar1 {
    display: none;
}

#sidebarCollapse1 {
    display: none;
}

#logoM {
    display: none;
}




@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Start */



#sidebarheader {
    font-size: 30pt;
}

#sidebarlist li {
    font-size: 24pt !important;
}

#commontips {
    display: block !important;
    text-align: center;
    position: relative;
    font-size: 30pt !important;
    color: black;
    bottom: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.help {
    clear: left;
    text-align: left;
    position: relative;
    font-size: 25pt;
    bottom: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #444444
}

#about{
    clear: both;
    text-align: left;
    position: relative;
    font-size: 20pt;
    bottom: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #444444
}

#foot{
    clear: left;
    text-align: left;
    position: relative;
    font-size: 20pt;
    bottom: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #444444
}
/*
#help2 {
    text-align: center;
    position: relative;
    font-size: 25pt;
    bottom: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#help3 {
    text-align: center;
    position: relative;
    font-size: 25pt;
    bottom: 75px;
    margin-top: 30px;
}
*/

/* End */
body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}




#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}



#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px 10px;
    font-size: 0.7em;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    /*    padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
}



#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


#image {
    text-align: center;
}

#logo {
    position: relative;
    bottom: 75px;
}

#submit {
    margin: 1vh !important;
}

#camera {
    font-size: 32px;
}




@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Start */



#sidebarheader {
    font-size: 30pt;
}

#commontips {
    display: block !important;
    text-align: center;
        float: left;
    position: relative;
    font-size: 50pt;
    color: black;
    bottom: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}



#sidebarlist li {
    font-size: 35pt;
}

/* End */
body {
    font-family: 'Poppins', sans-serif;
/*    background: white;*/
     background-image: url(../bg.png);
    background-size: 100% 100%;
    
}

body:before{
    content: "";
    height: 100%;
   
    position: fixed
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:focus {
    color: #443b3b;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    background-color: gainsboro !important;
    transition: all 0.3s;
    text-decoration: none;

}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: whitesmoke;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 30px 2vw;
    background: #eaeaea;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    text-align: center;

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}




#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 11px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: white;
    cursor: pointer;
    margin:  0 0 0 1vh;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

@media(max-width: 765px) {
    #logo {
        width: 60%;
    }
}

/*Media 500*/
@media(max-width: 500px) {
    #left {
        font-size: 40px;
        color: gray;
        /*         background-color: darkgray;*/
        padding: 0.1vh;



    }
    
    #commontips{
        font-size: 18pt !important;
        font-weight: bold;
        margin-top: 70px
    }
    
    .help {
    clear: left;
    text-align: left;
    position: relative;
    font-size: 17pt;
    bottom: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #444444
}
   
    #about{
        font-size: 16pt
    }

/*
    #help1 {
        text-align: center;
        position: relative;
        font-size: 18pt;
        bottom: 75px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #help2 {
        text-align: center;
        position: relative;
        font-size: 18pt;
        bottom: 75px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #help3 {
        text-align: center;
        position: relative;
        font-size: 18pt;
        bottom: 75px;
        margin-top: 30px;
    }
*/
    
    #maincontent{
        width: 100%;
        height: 550px;
        position: relative;
        overflow-y: auto
    }
    
/*
    #maincontent ul {
        position: relative;
        top: 50px;
    }
*/

    #left1 {
        font-size: 40px;

    }

    /*
     body {
         background-color: aqua;
     }
*/

    #sidebar {
        display: none;
    }

    #sidebar1 {
        display: block;
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        z-index: 999;
        background: whitesmoke;
        color: #fff;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        height: 100vh;
    }

    #sidebarCollapse {
        display: none;
    }

    #sidebarCollapse1 {
        display: block;
        /*        opacity: 0.7;*/
    }

    #sidebar1.active {
        left: 0;
    }

    #dismiss1 {
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        /*         background: #7386D5;*/
        position: absolute;
        top: 18px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #dismiss1:hover {
        background: #fff;
        color: #7386D5;
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 998;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    #sidebar1 .sidebar-header {
        padding: 20px 4vw;
        background: #eaeaea;
    }

    #sidebar1 ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar1 ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar1 ul li a {
        padding: 20px 10px;
        font-size: 1.5em;
        display: block;
        text-align: center;
        font-weight: 320;
        color: black;
    }

    #sidebar1 ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

    #sidebar1 ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }

    #tryImg {
        display: block;
        opacity: 0.8;
    }

    #trysearch {
        margin: 1vh 1vh 1vh 12vh !important;
        width: 13vh;
        display: inline;
        opacity: 1;

    }

    #imageUpload {
        margin: -1vh;
    }

    #trycamera {
        opacity: 1;
        width: 13vh;
        display: inline;
    }


    #logoM {
        display: block;
        height: 200px;
        margin: 0 auto
    }

    #logo {
        display: none;
    }

    #uploadContainer {
        display: inline-block;
        margin: 8vh 0vh 0vh 0vh;
    }
}
