@import url('https://fonts.googleapis.com/css?family=Roboto');

.font {
    font-family: 'Roboto', sans-serif;

}

@keyframes tryme {
    100% {
        stroke-dashoffset: 0;
    }


}

#signinpic {
    width: 64px;
    height: auto;
}

#bg {
    background-image: url("../Pictures/landingbg2.jpg");
    height: 60vh;
    width: auto;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;



}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;

}

h3 {
    text-align: center;
    position: relative;
    padding: 23px 0 23px;
}

h3::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #ff3a6d;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.signin {
    text-align: center;
    border: 1px solid #e5e7ef;
    padding: 30px;
    margin: 0 0 30px 5vh;


}

.signin:hover {
    background: #ff3a6d;
    color: white;
    transition: 0.3s;

}

/*
#SVGID {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 20;
    animation: tryme 2s cubic-bezier(0.4, 0, 1, 1) forwards;

}
*/

#path1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 5;
    animation: tryme 4s linear forwards 0.3s;
}

#path2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 5;
    animation: tryme 4s linear forwards 0.5s;
}

#epath {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 5;
    animation: tryme 4s linear forwards 0.2s;
}

#amask {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 5;
    animation: tryme 4s linear forwards 0.4s;
}

#mmask {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 5;
    animation: tryme 4s linear forwards 0.7s;
}

#_1mask {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 5;
    animation: tryme 4s linear forwards 1s;
}

#_8mask {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 5;
    animation: tryme 4s linear forwards 1.3s;
}


/*
#Layer_1 {
    margin-top: -50vh;
}
*/

#test {

    margin: 0 0 0 0;
    background-color: #f3f4f7;
    height: 60vh;
    padding: 3vh 5vh;
    visibility: hidden;




}

#headt {
    text-align: center;
    color: white;
    padding: 5vh;
    font-size: 5em;
    visibility: hidden;

}

#firebaseui-auth-container {
    margin-top: 2vh;
    text-align: center;
}

#optionC {
    margin: 5vh;
}

#image {
    text-align: center;
}

#footer {
    background-color: #252a33;
    color: white;
    text-align: center;
    padding: 30px 0;

}




@media (max-width: 500px) {

    #Layer_1 {
        margin: -10vh 0 0 0;

    }

    #image {
        text-align: center;
    }

    #logo {
        width: 80%;
        margin: 10vh 0 0 0;
    }

    #test {
        margin: 0 0 0 0;

    }




}
