@keyframes tryme {
    100% {
        stroke-dashoffset: 0;
    }


}

#SVGID {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 20;
    animation: tryme 2s cubic-bezier(0.4, 0, 1, 1) forwards;
}

#test {
    position: relative;
    top: -40%;
    margin: 0 0 0 0;

}

@media (min-width: 1200px) {
    #image {
        text-align: center !important;
    }

    #logo {
        width: 38% !important;
        height: auto !important;
    }
}

@media (min-width: 200px) {
    #image {
        text-align: center;
    }

    #logo {
        width: 75%;
    }

    #test {
        margin: -20vh 0 0 0;

    }

}
