@import url('https://fonts.googleapis.com/css?family=Lato');

#content {
    background-image: url("../Pictures/nordwood-themes-524102-unsplash (1).jpg");
    background-size: 100% 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

#font {
    font-family: 'Lato', sans-serif;

}

.font {
    font-family: 'Lato', sans-serif;
}

#image {
    text-align: center;
}



#submit {
    margin: 1vh !important;
}

#camera {
    font-size: 32px;
}

#sidebar1 {
    display: none;
}

#sidebarCollapse1 {
    display: none;
}

#logoM {
    display: none;
}

#sidebarCollapse {
    position: relative;
    right: 30px;
    z-index: 1;
}

#span1 {
    color: #6C6262;
    font-weight: bolder;
    font-size: 1.35em;
}

#span2 {
    color: #146bc1;
    margin: 0 0 0 -1vh;
    font-size: 1.35em;
}

#sidebarheader {
    font-size: 30pt;
}

#sidebarlist li {
    font-size: 24pt !important;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#inner {
    background-color: rgba(255, 255, 255, 0.6);
    margin: -5vh auto;
    width: 80%;
    height: 60vh;
    padding: 5vh;
}

#profileHolder {
    /*    position: absolute;*/
    margin: -10vh;
    padding: 20px;
    height: 300px;
    width: 100%;
    border: solid 0px;
    /*    background-color: gray;*/
    display: block;

}

#profileContent {
    position: relative;
    top: 15%;
    left: 12.5%;
    right: 12.5%;
    width: 75%;
    height: 60%;
    width: 100%;
}

/*#userprofile,*/
#useraverage {
    top: 10%;
    margin: 10px;
}

#userid {
    /*    text-align: center;*/
    position: relative;
    font-size: 35pt;
}

#listPlus {
    float: right;
}

#userprofile {
    /*    border: solid black 1px;*/
    /*    position: relative;*/
    /*    display: inline;*/
    float: left;
    height: 130px !important;
    width: 130px !important;
    border-radius: 50%;
    /*    margin: 0 auto;*/
    background-image: url(https://www.springboard.com/images/springboard/default-profile-mentor-rounded@2x.70dc0c67.png);
    background-position: center;
    background-size: 100%;

    margin-right: 100px;
}

#useraverage {
    display: block;
    /*    text-align: center;*/
    /*    position: relative;*/
    font-size: 24pt !important;
    margin-left: 2vh;
    margin-top: -5vh;

}

#userlist {
    /*        position: absolute;*/
    text-align: left;
    font-size: 20pt;
    /*    width: 100%;*/
    height: auto;
    width: 50%;
    padding: 10px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;

    overflow-y: auto;
    margin-left: 20vh;
    /*    margin-top: 10vh;*/
    /*    display: block;*/
    /*    text-decoration: none;*/

}

#userlist li {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:focus {
    color: #443b3b;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    background-color: gainsboro !important;
    transition: all 0.3s;
    text-decoration: none;

}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}



#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}



#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#image {
    text-align: center;
}

#logo {
    margin-top: -10vh;
    width: 50%;
}

#submit {
    margin: 1vh !important;
}

#camera {
    font-size: 32px;
}


#sidebarheader {
    font-size: 30pt;
}

#sidebarlist li {
    font-size: 24pt !important;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Start */


/* End */
body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: #443b3b;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: whitesmoke;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #eaeaea;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    text-align: center;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px 10px;
    font-size: 1.4em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: rgb(247,247,247,0.2);
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

@media(max-width: 712px) {
    #userlist {
/*        display: none;*/
        margin: 10vh 0 0 -5vh;
        width: 100%;
    }

    #useraverage {
        margin-top: 5vh;
    }
     #inner{
        height: 80vh;
    }
}
@media(max-width: 539px) {
    #userlist {
/*        display: none;*/
        margin: 10vh 0 0 -5vh;
        width: 100%;
    }

    #useraverage {
        margin-top: -10vh;
    }
    #userid{
        margin: 0 -20vh 0 0vh;
    }
    #inner{
        height: 80vh;
    }
}

/*Media 500*/
@media(max-width: 500px) {
    #logo {
        width: 80%;
    }

    #inner {

        height: 80vh;
    }

    profileContent {
        border: solid 1px;
        top: 0%;
    }

    #inner {
        margin: 5vh;
    }

    #userid {
        position: relative;
        top: 20%;
        left: -40%;
        font-size: 30pt;
    }

    #profileHolder {
        position: relative;
        bottom: 15%;
        width: 100%;
        height: 75%;
        border: solid 0px;
    }

    #userprofile {
        position: relative;
        top: 0%;
        left: -20%;
    }

    #useraverage {
        margin: 0 0 0 2vh;
    }

    #userlist {
      
    }

    #left {
        font-size: 40px;
        color: gray;
        padding: 0.1vh;
    }

    #left1 {
        font-size: 40px;

    }

    #sidebar {
        display: none;
    }

    #sidebar1 {
        display: block;
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        z-index: 999;
        background: whitesmoke;
        color: #fff;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    #sidebarCollapse {
        display: none;
    }

    #sidebarCollapse1 {
        display: block;
        opacity: 1;
        background-color: rgb(247,247,247);
        z-index: 1;
    }

    #sidebar1.active {
        left: 0;
    }

    #dismiss1 {
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        /*         background: #7386D5;*/
        position: absolute;
        top: 18px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #dismiss1:hover {
        background: #fff;
        color: #7386D5;
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 998;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    #sidebar1 .sidebar-header {
        padding: 20px 4vw;
        background: #eaeaea;
    }

    #sidebar1 ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar1 ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar1 ul li a {
        padding: 20px 10px;
        font-size: 1.5em;
        display: block;
        text-align: center;
        font-weight: 320;
        color: black;
    }

    #sidebar1 ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

    #sidebar1 ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }

    #tryImg {
        display: block;
        opacity: 0.8;
    }

    #trysearch {
        margin: 1vh 1vh 1vh 12vh !important;
        width: 13vh;
        display: inline;
        opacity: 1;

    }

    #imageUpload {
        margin: -1vh;
    }

    #trycamera {
        opacity: 1;
        width: 13vh;
        display: inline;
    }





    #uploadContainer {
        display: inline-block;
        margin: 8vh 0vh 0vh 0vh;
    }
}
